*{
  margin: 0;
  padding: 0;
}
/* dashboard container  */
.dashboard-wrappers{
  position: relative;
 left: 0;
 margin-top: 60px !important;
 margin-left: 200px;
 height: -webkit-fill-available;
  /*background-color: #f3f3f3;*/
 background-image: url(../images/pexels-photo-1363165.jpeg);
 background-position: center;
 /* background-size: contain; */
 background-size: cover;
 overflow: hidden;
}


@media only screen and (max-width: 900px){
	.dashboard-wrappers {
    	margin-left: 70px;
	}
}
  .d-line{
    width: 100% !important;
    height: 2px !important;
    background-color:red !important;
  }

  /* dashboard information cards  */


.dash-downline{
	box-shadow: 0 4px 8px 0 rgb(128, 51, 0, 0.3);
  background: #ffffff;
  border-radius: 20px;
  height: 370px;
  /* width: 100%; */
}
.card{
  background:#ffffff;
  border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgb(128, 51, 0, 0.3);
	transition: 0.3s;
	padding: 30px;
  height: 170px;
  overflow: auto;
}
.card:hover, .dash-downline:hover{
  transition: 0.3s;
  background : rgb(242, 242, 242);
}

/* card content  */
.card h6{
  font-weight: bold;
  font-family: 'Titillium Web' ,'Open Sans';
  color: #33001a;
  text-transform: uppercase;
}
.card p{
  font-weight: bold;
  font-size: 22px;
}
.card h5{
  font-weight: bold;
  font-family: 'Titillium Web' ,'Open Sans';
  color: #4d8000;
  font-size: 17px;
}
.card img{
  width: 18px;
  height: 18px;
}
@media only screen and (max-width: 1320px){
  .card h6{
    font-size: 15px;
  }
  .card p{
    font-size: 17px;
  }
  .card h5{
    font-size: 14px;
  }
  .card{
    /* background: #008000; */
  }
}

/* scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#bfbfbf; 
}

@media only screen and (max-width: 767px){
  .dash-downline{
    transition: all 0.3s ease;
  }
  .card{
    margin-top: 25px;
  }
}