.dashboard-wrappers{
    position: relative;
   left: 0;
   margin-top: 60px !important;
   margin-left: 80px;
   height: -webkit-fill-available;
   background-size: cover;
   overflow: hidden;
  }
  
#personal-details label{
    font-weight: bold;
}

#personal-details h6{
    font-size: 30px;
    text-align: center;
    font-family: 'Titillium Web' ,'Open Sans';
    font-weight: bold;
}

label{
    font-family: 'Titillium Web' ,'Open Sans';
    font-size: 15px;
    font-weight: bold;
}

.cancel-btn, .save-btn{
    background: #003366;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: none;
    font-weight: bold;
    border: none;
    width:100px;
    color: #ebfafa;
    box-shadow: 0 4px 8px 0 rgb(166, 166, 166, 0.6);
}
.up-btn{
    background: #003366;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: none;
    font-weight: bold;
    border: none;
    width:23%;
    color: #ebfafa;
    box-shadow: 0 4px 8px 0 rgb(166, 166, 166, 0.6);
}

.cancel-btn:hover, .save-btn:hover{
    background: #d6f5f5;
    color: #003366;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 900px){
    #personal-details h6{
        font-size: 20px;
    }   
}
.error-msg{
    color:#ff1a1a;
    font-weight: bold;
}