.sidebar-dark{
	background-color: #FFFFFF !important;
}
/* LOGOUT POP UP STYLE BEG  */
#myLogout h5{
    font-size: 12px;
    font-weight: bold;
}
#myLogout .log{
    width: 100px;
    padding: 8px 20px  ;
    font-weight: bold;
    background: #242849;
    color: #eeeff7;
    font-size: 12px;
}
#myLogout .log:hover{
  
    background: #eeeff7;
    color: #242849;
    box-shadow: 0px 10px 10px 0px #dddfee;
   transition: 1.2s;
}
/* LOGOUT POP UP STYLE END  */
.nav-left-sidebar {
    z-index: 9999;
    position: fixed;
    width: 200px;
    height: 100%;
    top: 60px;
    overflow: auto;
    box-shadow: 0px 40px 28px 0px rgba(82, 63, 105, 0.13);
    /* -webkit-transition: all 0.3s ease; */
}

.nav-left-sidebar .nav-link i {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
}

.nav-left-sidebar .nav-item{
    margin: 1px 3.5px;
}

.nav-left-sidebar .nav-item a:hover{
    color: #eeeff7;
    background: #242849;
    /* background:#c2ff66; */

    transition: all 0.3s ease;
}

.nav-left-sidebar .nav-item a{
	display: block;
    color: #555;
    font-family: 'Titillium Web' ,'Open Sans';
    font-size: 12px;
    padding: 9px 0;
    text-transform: uppercase;
}

.navbar-active{
    border-radius: 4px;
    border-left: 2.5px solid #242849;
   /* background-color: #71E2F0;*/
    background-image: -webkit-linear-gradient(20deg, #8570BC 0%, #BD6D93 80%);
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .08), 0 1px 3px rgba(0, 0, 0, .08);
}

.navbar-active a{
    color: #242849 !important;
}

.nav-left-sidebar .navbar-nav {
    width: 100%;
}

@media only screen and (max-width: 900px){
	.nav-left-sidebar {
    	width: 70px;
	}
	.nav-left-sidebar .nav-item a span{
		display: none;
	}
    .nav-left-sidebar .nav-link i{
        margin-left: 18px;
    }
}
