*{
    margin: 0;
    padding: 0;
}

#payment-method{
 text-align: center;
 padding: 60px;
 display: none;
}

.payment-method-items .items{
    padding: 20px;
    margin: 3px;
    background: #266;
}

.payment-method-items .items:hover{
    background: #330000;
}
.payment-method-items div img{
    width: 70px;
}
.pm-title{
    margin-top: 40px !important;
    color: #1a0000;
}
.items h6{
    color: white;
}
.payment-body{
    background-image: url("../images/team.jpg");
    background-repeat: no-repeat;
    background-position: center;

}
